demo/mule-elasticsearch-connector-document-index-operations-demo/src/main/mule/document-index-operations.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:elasticsearch="http://www.mulesoft.org/schema/mule/elasticsearch"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/elasticsearch http://www.mulesoft.org/schema/mule/elasticsearch/current/mule-elasticsearch.xsd">
	
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="85a8f372-7f62-4473-ba31-5912cc3625bf" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>

	<elasticsearch:config name="Elasticsearch_Config" doc:name="Elasticsearch Config" doc:id="78723584-fcbc-465d-9e82-96acb083e67f" >
		<elasticsearch:http-connection host="${elastic.host}" />
	</elasticsearch:config>

	<configuration-properties doc:name="Configuration properties" doc:id="9ea50978-2158-4586-979a-00b81adc6a67" file="mule-application.properties" />
	
	<flow name="document-index-operations-main-flow" doc:id="d760bb0d-45c8-4240-89b5-84b113c391c0">
		<http:listener doc:name="Listener"
			doc:id="abfb108b-af2d-4324-89d8-eb8f53793b55" config-ref="HTTP_Listener_config"
			path="/documentIndicesOperations" />
		<flow-ref doc:name="create-index-insert-document" doc:id="71cd0fb3-554a-44d9-bef7-6c6376fe13ef" name="create-index-and-insert-document" />
		<flow-ref doc:name="update-document" doc:id="985838ae-f840-4ce3-b043-ffd70971e71a" name="update-document" />
		<flow-ref doc:name="delete-resources" doc:id="6d13e110-b88b-4945-9ad9-0d9034a98408" name="delete-resources" />
		<logger level="INFO" doc:name="Logger"
			doc:id="4f400a6e-32b8-4822-900e-a0297050b3d9" message="Response: #[payload.acknowledged]" />
	</flow>
	
	<sub-flow name="create-index-and-insert-document" doc:id="54454fbf-1175-457a-a0ce-e851288ec831" >
		<elasticsearch:create-index doc:name="Index - Create" doc:id="acd7020b-b3b4-4ebf-b1d7-ac5a87e6edc9" config-ref="Elasticsearch_Config" index="${index}" />
		<logger level="INFO" doc:name="Logger" doc:id="4891c5b3-f76a-4005-8969-ff7b3e1b857c" message="Create Index Response  #[payload]" />
		<elasticsearch:index-document doc:name="Document - Index" doc:id="a29e392d-b1d7-4b86-aa6e-e82ac5fbbb70" config-ref="Elasticsearch_Config" index="${index}" documentId="${document.id}" jsonInputPath="${document.path}">
		</elasticsearch:index-document>
		<logger level="INFO" doc:name="Logger"
			doc:id="cb651e84-6fa6-4b13-b0f4-8b2b76daaeb8" message="Index Document Response: #[payload]" />
	</sub-flow>
	
	<sub-flow name="update-document" doc:id="0dc6f8ad-ff88-45a7-b994-d63f317ad78c">
		<elasticsearch:get-document doc:name="Document - Get" doc:id="b86cf9cd-4f2c-4396-8511-88112b253dcd" config-ref="Elasticsearch_Config" documentId="${document.id}" index="${index}" />
		<logger level="INFO" doc:name="Logger" doc:id="5116d872-57fa-42b6-aab9-3682927c51d6" message="Get Document Reponse: #[payload]" />
		<elasticsearch:update-document doc:name="Document - Update" doc:id="fff2fe88-b7fa-4eb5-baa0-a66b5e734567" config-ref="Elasticsearch_Config" index="#[payload.index]" documentId="#[payload.id]" jsonInputPath="${document.updatepath}" />
		<logger level="INFO" doc:name="Logger" doc:id="86ff892d-869a-43c0-b6b5-d2df02b807f4" message="Update document response: #[payload]" />
	</sub-flow>
	
	<sub-flow name="delete-resources" doc:id="fc3a6a9a-4631-48b7-8c7c-399ac5f54951">
		<elasticsearch:delete-document doc:name="Document - Delete" doc:id="93b942f1-7e95-40b0-a089-9328eeb00723" config-ref="Elasticsearch_Config" index="${index}" documentId="${document.id}" />
		<logger level="INFO" doc:name="Logger" doc:id="78ac511f-397d-41a2-945c-2cc3691d140b" message="Delete Document Response: #[payload]" />
		<elasticsearch:delete-index doc:name="Index - Delete" doc:id="ca5bcd5c-7ce3-4742-a642-2c3617393400" config-ref="Elasticsearch_Config" index="${index}" />
		<logger level="INFO" doc:name="Logger" doc:id="f3ce7936-5189-4c66-925d-96ab4bae974f" message="Delete Index Response: #[payload] " />
	</sub-flow>
</mule>
