src/test/resources/testElasticsearchOperations.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:elasticsearch="http://www.mulesoft.org/schema/mule/elasticsearch"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/elasticsearch http://www.mulesoft.org/schema/mule/elasticsearch/current/mule-elasticsearch.xsd">

    <configuration-properties doc:name="Configuration properties" doc:id="6d462be0-8440-4d31-be43-ef40b2f69fe0" file="mule-application.properties" />

	<elasticsearch:config name="Elasticsearch_HTTPS_Config" doc:name="Elasticsearch Config" doc:id="bb2d83f4-da5b-46b1-9816-c243a8df0f0b" >
		<elasticsearch:https-connection host="${elastic.host}" port="${elastic.port}" userName="${elastic.user}" password="${elastic.userPassword}" trustStorePath="${elastic.trustStore}" trustStorePassword="${elastic.trustStorePassword}" />
	</elasticsearch:config>
	
	<elasticsearch:config name="Elasticsearch_HTTP_Config" doc:name="Elasticsearch Config" doc:id="bb2d83f4-da5b-46b1-9816-c243a8df0f0b" >
		<elasticsearch:http-connection host="${elastic.host}" port="${elastic.port}" />
	</elasticsearch:config>
	
		<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="0c6ae51d-e285-4759-b1ba-8f01efc5f7c7" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>


	<flow name="testCreateIndexFlow" doc:id="88b1f314-3c8e-4d22-b000-ea4acd0ab149">
		<http:listener doc:name="Listener"
			doc:id="005f789f-35c5-4c2c-9b51-da0a367a5b0f" config-ref="HTTP_Listener_config"
			path="/createIndex" />
		<elasticsearch:create-index doc:name="Create index"
			doc:id="6c3c411e-1113-4d1b-8df8-e74b37022c40" config-ref="${elastic.config}"
			index="${elasticsearch.index}" type="doc" indexAlias="bankIndex" timeout="15s" masterNodeTimeout="10s" waitForActiveShards="1">
			<elasticsearch:index-settings >
				<elasticsearch:index-setting key="index.number_of_shards" value="3" />
				<elasticsearch:index-setting key="index.number_of_replicas" value="2" />
			</elasticsearch:index-settings>
		</elasticsearch:create-index>
		<logger level="INFO" doc:name="Logger"
			doc:id="72dac3a8-831e-428e-b380-af9711bac5c8" message="#[payload]" />
	</flow>

	<flow name="testDeleteIndexFlow" doc:id="88b1f314-3c8e-4d22-b000-ea4acd0ab149">
		<http:listener doc:name="Listener"
			doc:id="005f789f-35c5-4c2c-9b51-da0a367a5b0f" config-ref="HTTP_Listener_config"
			path="/deleteIndex" />
		<elasticsearch:delete-index doc:name="Delete index"
			doc:id="3b1ba37c-a425-45aa-8d1d-e2546205a87f" config-ref="${elastic.config}"
			index="${elasticsearch.index}" timeout="15s" masterNodeTimeout="10s">
			<elasticsearch:indices-opts ignoreUnavailable="true" allowNoIndices="true" expandToOpenIndices="true" expandToClosedIndices="true" allowAliasesToMultipleIndices="true" forbidClosedIndices="true" ignoreAliases="true" />
			</elasticsearch:delete-index>
		<logger level="INFO" doc:name="Logger"
			doc:id="72dac3a8-831e-428e-b380-af9711bac5c8" message="#[payload]" />
	</flow>

	<flow name="testCloseIndexFlow" doc:id="88b1f314-3c8e-4d22-b000-ea4acd0ab149">
		<http:listener doc:name="Listener"
			doc:id="005f789f-35c5-4c2c-9b51-da0a367a5b0f" config-ref="HTTP_Listener_config"
			path="/closeIndex" />
		<elasticsearch:close-index doc:name="Close index"
			doc:id="1950d567-6153-48ec-b090-53d12011c953" config-ref="${elastic.config}"
			index="${elasticsearch.index}" timeout="15s" masterNodeTimeout="15s" >
			<elasticsearch:indices-opt ignoreUnavailable="true" allowNoIndices="true" expandToOpenIndices="true" expandToClosedIndices="true" allowAliasesToMultipleIndices="true" forbidClosedIndices="true" ignoreAliases="true" />
			</elasticsearch:close-index>
		<logger level="INFO" doc:name="Logger"
			doc:id="72dac3a8-831e-428e-b380-af9711bac5c8" message="#[payload]" />
	</flow>

	<flow name="testDeleteOperationFlow">
		<http:listener doc:name="Listener" config-ref="HTTP_Listener_config"
			path="/deleteDocuemntIndex" />
		<elasticsearch:delete-document doc:name="Delete document"
			doc:id="eeaae69c-675d-4427-9238-95f5835d10c7" config-ref="${elastic.config}"
			index="${elasticsearch.index}" type="doc" documentId="1" routing="routing" timeout="10s" refreshPolicy="WAIT_UNTIL" version="4" versionType="EXTERNAL"/>
		<logger level="INFO" doc:name="Logger" message="#[payload]" />
	</flow>

	<flow name="indexDocumentFlow">
		<http:listener doc:name="Listener" config-ref="HTTP_Listener_config"
			path="/indexDoc" />
		<elasticsearch:index-document doc:name="Index document"
			config-ref="${elastic.config}" index="${elasticsearch.index}" type="doc" documentId="1" routing="routing" timeout="10s" refreshPolicy="NONE" version="4" versionType="EXTERNAL" operationType="INDEX">
			<elasticsearch:document-sources>
				<elasticsearch:document-source key="name"
					value="testUser" />
				<elasticsearch:document-source key="account_number"
					value="2" />
				<elasticsearch:document-source key="balance"
					value="5000090" />
				<elasticsearch:document-source key="firstname"
					value="test" />
				<elasticsearch:document-source key="lastnames"
					value="user" />
				<elasticsearch:document-source key="state"
					value="IN" />
			</elasticsearch:document-sources>
		</elasticsearch:index-document>
		<logger level="INFO" doc:name="Logger" message="RESPONSE:#[payload]" />
	</flow>
	
	<flow name="indexDocumentFlowForJSONinput">
		<http:listener doc:name="Listener" config-ref="HTTP_Listener_config"
			path="/indexDocjson" />
		<elasticsearch:index-document doc:name="Index document" doc:id="6f1fcbfd-eeed-4d4f-af05-b5204c57046d" config-ref="${elastic.config}" index="${elasticsearch.index}" type="doc" documentId="1" jsonInputPath="${index.jsoninputpath}">
		</elasticsearch:index-document>
		<logger level="INFO" doc:name="Logger" message="RESPONSE:#[payload]" />
	</flow>

	<flow name="testOpenIndexFlow" doc:id="88b1f314-3c8e-4d22-b000-ea4acd0ab149">
		<http:listener doc:name="Listener"
			doc:id="005f789f-35c5-4c2c-9b51-da0a367a5b0f" config-ref="HTTP_Listener_config"
			path="/openIndex" />
		<elasticsearch:open-index doc:name="Open index"
			doc:id="28b63e78-4790-43fd-8acb-22d1efae813c" config-ref="${elastic.config}"
			index="${elasticsearch.index}" timeout="15s" masterNodeTimeout="10s" waitForActiveShards="1">
			<elasticsearch:indices-opts ignoreUnavailable="true" allowNoIndices="true" expandToOpenIndices="true" expandToClosedIndices="true" allowAliasesToMultipleIndices="true" forbidClosedIndices="true" ignoreAliases="true" />
			</elasticsearch:open-index>
		<logger level="INFO" doc:name="Logger"
			doc:id="72dac3a8-831e-428e-b380-af9711bac5c8" message="#[payload]" />
	</flow>

	<flow name="testecFlowUpdate">
		<http:listener doc:name="Listener" config-ref="HTTP_Listener_config"
			path="/updateDocumentIndex" />
		<elasticsearch:update-document doc:name="Update document"
			config-ref="${elastic.config}" index="${elasticsearch.index}" type="doc"
			documentId="1" routing="routing" timeout="10s" refreshPolicy="WAIT_UNTIL" retryOnConflict="1" docAsUpsert="true">
			<elasticsearch:document-sources>
				<elasticsearch:document-source key="name"
					value="TestcaseFlowUpdate" />
			</elasticsearch:document-sources>
		</elasticsearch:update-document>
		<logger level="INFO" doc:name="Logger" message="#[payload]" />
	</flow>
	
	<flow name="testecFlowUpdateWithJSON">
		<http:listener doc:name="Listener" config-ref="HTTP_Listener_config"
			path="/updateDocumentIndexWithJSON" />
		<elasticsearch:update-document doc:name="Update document"
			config-ref="${elastic.config}" index="${elasticsearch.index}" type="doc"
			documentId="1" jsonInputPath="${index.jsoninputpath}" docAsUpsert="true">
		</elasticsearch:update-document>
		<logger level="INFO" doc:name="Logger" message="#[payload]" />
	</flow>
	
	<flow name="testBulkOperationFlow" doc:id="2ec6ded0-a74e-465c-bb29-0f5d8fc1562b" >
		<http:listener doc:name="Listener" doc:id="bb902d54-c740-42f5-8bc0-876da977ea83" config-ref="HTTP_Listener_config" path="/bulky"/>
		<elasticsearch:bulk-operation doc:name="Bulk operation" doc:id="4c145b76-124b-49fd-a6cc-f8b0e56abd38" config-ref="${elastic.config}" jsonfile="${bulk.jsoninputpath}"/>
		<logger level="INFO" doc:name="Logger" doc:id="cde45b90-57d1-4133-a37d-6d5508e912e6" message="#[payload]"/>
	</flow>
	
	<flow name="testGetDocumentFlow" doc:id="88b1f314-3c8e-4d22-b000-ea4acd0ab149" >
		<http:listener doc:name="Listener" doc:id="005f789f-35c5-4c2c-9b51-da0a367a5b0f" config-ref="HTTP_Listener_config" path="/getOperation"/>
		<elasticsearch:get-document doc:name="Get document" doc:id="a3099447-8c03-4321-95f0-b0f2bd9c0e01" index="${elasticsearch.index}" type="doc" documentId="1" config-ref="${elastic.config}" routing="routing" preference="preference" version="4" versionType="EXTERNAL" realtime="false" refresh="true">
		<elasticsearch:fetch-source-context >
				<elasticsearch:include-fields >
					<elasticsearch:include-field value="message" />
				</elasticsearch:include-fields>
				<elasticsearch:exclude-fields >
					<elasticsearch:exclude-field value="date" />
				</elasticsearch:exclude-fields>
			</elasticsearch:fetch-source-context>
			</elasticsearch:get-document>
		<logger level="INFO" doc:name="Logger" doc:id="72dac3a8-831e-428e-b380-af9711bac5c8" message="#[payload]"/>
	</flow>
		
	<flow name="testInfoFlow" doc:id="a4614391-0b0b-460a-b884-7df6fc35b7a1" >
		<http:listener doc:name="Listener" doc:id="9b63ede1-3c9f-44ef-b5d4-f923cb7a9809" config-ref="HTTP_Listener_config" path="/info"/>
		<elasticsearch:info doc:name="Info operation" doc:id="95220fbb-be31-48c3-8146-8353aface6df" config-ref="${elastic.config}"/>
		<logger level="INFO" doc:name="Logger" doc:id="220f648f-914e-40ae-bdb0-96af3a26e720" message="#[payload]"/>
	</flow>

</mule>
